
NGCI筛选系统180.exe
package.ini
package.json
NGCI筛选系统.exe
NGCI筛选系统182.exe
NGCI筛选系统182.rar
NGCI筛选系统_1.0.0.exe
UI/background_boder.png
UI/background_finish.png
UI/background_finish.psd
UI/background_install.psd
UI/background_set.png
UI/background_install.png
UI/finish_confirm_btn.psd
UI/background_start.psd
UI/finish_confirm_btn.png
*.psd
UI/background_start.png
UI/CheckButton.png
UI/install_bar_background.png
UI/install_bar_foreground.png
UI/quit_background.png
UI/quit_cancel_btn.png
UI/quit_confirm_btn.png
UI/quit_mark.png
UI/set_file_background.png
UI/set_file_btn.png
UI/set_install_btn.png
UI/start_install_btn.png
UI/set_return_btn.png
UI/start_set_btn.png
UI/title_clase_btn.png
UI/title_min_btn.png
