<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>BAP</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!--标准mui.css-->
		<link rel="stylesheet" href="css/mui.min.css">
		<link rel="stylesheet" href="css/sc.css" />
	</head>

	<body>

		<style>
			.mui-control-content {
				background-color: white;
				min-height: 215px;
			}
			
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
			
			.mui-segmented-control .mui-control-item {
				line-height: 4rem;
				display: table-cell;
				overflow: hidden;
				width: 1%;
				-webkit-transition: background-color .1s linear;
				transition: background-color .1s linear;
				text-align: center;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: #007aff;
				border-color: #007aff;
				border-left: 1px solid #007aff;
			}
			
			.mui-control-content {
				background-color: white;
				min-height: 33rem;
			}
		</style>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">非筛选HOLD打印</h1>
		</header>
		<div class="mui-content" id='app'>
			<div style="padding: 10px 10px;">
				<div id="segmentedControl" class="mui-segmented-control">
					<a @tap="notPrint" class="mui-control-item mui-active" href="#item1mobile" style="font-size: 1.5rem;">未打印<span class="mui-badge" style="background-color: transparent;color: #dd524d;font-size: 1.5rem;">({{num1}})</span></a>
					<a @tap="endPrint" class="mui-control-item" href="#item2mobile" style="font-size: 1.5rem;">已打印<span class="mui-badge " style="background-color: transparent;color: #16de16;font-size: 1.5rem;">({{num2}})</span></a>
					<a @tap="latePlayPrint" class="mui-control-item" href="#item3mobile" style="font-size: 1.5rem;">补打<span class="mui-badge" style="background-color: transparent;color: #f0ad4e;font-size: 1.5rem;">({{num3}})</span></a>
				</div>
			</div>
			<div class="">
				<div id="item1mobile" class="mui-control-content mui-active">
					<div id="scroll1" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell div-flex-row btm-list-li color3">
									<div>
										<p>序号</p>
									</div>
									<div>
										<p>筛选人</p>
									</div>
									<div>
										<p>零件编号</p>
									</div>
									<div>
										<p>零件名称</p>
									</div>
									<div>
										<p>缺陷数量</p>
									</div>
									<div>
										<p>缺陷类型</p>
									</div>
									<div>
										<p>录入时间</p>
									</div>
								</li>
								<div id="" v-for="(endItem,index) in endItems" @tap="outPrint(endItem)" style="border: solid #c8c7cc 1px;border-color: transparent transparent rgb(200, 199, 204);">
									<li class="mui-table-view-cell div-flex-row btm-list-li color3">
										<div>
											<p>{{(index+1)}}</p>
										</div>
										<div>
											<p v-text="endItem.realname"></p>
										</div>
										<div>
											<p v-text="endItem.ljbm"></p>
										</div>
										<div>
											<p v-text="endItem.ljname"></p>
										</div>
										<div>
											<p v-text="endItem.holdsys"></p>
										</div>
										<div>
											<p v-text="endItem.holdyy"></p>
										</div>
										<div>
											<p v-text="endItem.inputdate"></p>
										</div>
									</li>
								</div>

							</ul>
						</div>
					</div>
				</div>
				<div id="item2mobile" class="mui-control-content">
					<div id="scroll2" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell div-flex-row btm-list-li color3">
									<div>
										<p>序号</p>
									</div>
									<div>
										<p>筛选人</p>
									</div>
									<div>
										<p>零件编号</p>
									</div>
									<div>
										<p>零件名称</p>
									</div>
									<div>
										<p>缺陷数量</p>
									</div>
									<div>
										<p>缺陷类型</p>
									</div>
									<div>
										<p>录入时间</p>
									</div>
								</li>
								<div id="" v-for="(endItem,index) in endItems1" @tap="outPrintAgain(endItem)" style="border: solid #c8c7cc 1px;border-color: transparent transparent rgb(200, 199, 204);">
									<li class="mui-table-view-cell div-flex-row btm-list-li color3">
										<div>
											<p>{{(index+1)}}</p>
										</div>
										<div>
											<p v-text="endItem.realname"></p>
										</div>
										<div>
											<p v-text="endItem.ljbm"></p>
										</div>
										<div>
											<p v-text="endItem.ljname"></p>
										</div>
										<div>
											<p v-text="endItem.holdsys"></p>
										</div>
										<div>
											<p v-text="endItem.holdyy"></p>
										</div>
										<div>
											<p v-text="endItem.inputdate"></p>
										</div>
									</li>
								</div>
							</ul>
						</div>
					</div>

				</div>
				<div id="item3mobile" class="mui-control-content">
					<div id="scroll3" class="mui-scroll-wrapper">
						<div class="mui-scroll">
							<ul class="mui-table-view">
								<li class="mui-table-view-cell div-flex-row btm-list-li color3">
									<div>
										<p>序号</p>
									</div>
									<div>
										<p>筛选人</p>
									</div>
									<div>
										<p>零件编号</p>
									</div>
									<div>
										<p>零件名称</p>
									</div>
									<div>
										<p>缺陷数量</p>
									</div>
									<div>
										<p>缺陷类型</p>
									</div>
									<div>
										<p>录入时间</p>
									</div>
								</li>
								<div id="" v-for="(endItem,index) in endItems2" @tap="outPrintLatePlay(endItem)" style="border: solid #c8c7cc 1px;border-color: transparent transparent rgb(200, 199, 204);">
									<li class="mui-table-view-cell div-flex-row btm-list-li color3">
										<div>
											<p>{{(index+1)}}</p>
										</div>
										<div>
											<p v-text="endItem.realname"></p>
										</div>
										<div>
											<p v-text="endItem.ljbm"></p>
										</div>
										<div>
											<p v-text="endItem.ljname"></p>
										</div>
										<div>
											<p v-text="endItem.holdsys"></p>
										</div>
										<div>
											<p v-text="endItem.holdyy"></p>
										</div>
										<div>
											<p v-text="endItem.inputdate"></p>
										</div>
									</li>
								</div>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script type="text/javascript" src="js/vue.min.js"></script>
		<script type="text/javascript" src="js/function.js"></script>
		<script type="text/javascript" src="js/static.js"></script>
		<script>
			mui.init({
				swipeBack: false
			});
			new Vue({
				el: '#app',
				data: {
					endItems: [],
					endItems1: [],
					endItems2: [],
					nPrintDate: [],
					search: "",
					num1: '',
					num2: '',
					num3: ''
				},
				mounted: function() {
					mui('.mui-scroll-wrapper').scroll({
						indicators: true //是否显示滚动条
					});
					var _this = this;
					var _obj = {};
					mAjax(urlxds + "getNotPrint", {
						isdy: 0
					}, function(data) {
						var _data = data.data;
						_data.forEach(function(item, index) {
							item.inputdate = FormatDateYMD(item.inputdate);
						})
						_this.num1 = _data.length;
						_this.endItems = _data;
					});
					mAjax(urlxds + "getNotPrint", {
						isdy: 1
					}, function(data) {
						var _data = data.data;
						_data.forEach(function(item, index) {
							item.inputdate = FormatDateYMD(item.inputdate);
						})
						_this.num2 = _data.length;
						_this.endItems1 = _data;
					});
					mAjax(urlxds + "getNotPrint", {
						isdy: 2
					}, function(data) {
						var _data = data.data;
						_data.forEach(function(item, index) {
							item.inputdate = FormatDateYMD(item.inputdate);
						})
						_this.num3 = _data.length;
						_this.endItems2 = _data;
					});
				},
				computed: {},
				methods: {
					//切换tab时，
					//已打印
					endPrint: function() {
						var _this = this;
						mAjax(urlxds + "getNotPrint", {
							isdy: 1
						}, function(enddata) {
							var _data = enddata.data;
							_data.forEach(function(item, index) {
								item.inputdate = FormatDateYMD(item.inputdate);
							})
							_this.num2 = _data.length;
							_this.endItems1 = _data;
						})
					},
					//未打印
					notPrint: function() {
						//console.log(3333);
						var _this = this;
						mAjax(urlxds + "getNotPrint", {
							isdy: 0
						}, function(notdata) {
							var _data = notdata.data;
							_data.forEach(function(item, index) {
								item.inputdate = FormatDateYMD(item.inputdate);
							})
							_this.num1 = _data.length;
							_this.endItems = _data;
						})
					},
					//补打
					latePlayPrint: function(data) {
						var _this = this;
						mAjax(urlxds + "getNotPrint", {
							isdy: 2
						}, function(lpdata) {
							var _data = lpdata.data;
							_data.forEach(function(item, index) {
								item.inputdate = FormatDateYMD(item.inputdate);
							})
							_this.num3 = _data.length;
							_this.endItems2 = _data;
						})
					},
					//点击每一项的打印
					outPrint: function(data) {
						//console.log(data);
						if(getLsItem("printIp") != '192.168.3.151') {
							//mui.toast()
							setLsItem("printIp", '192.168.3.151');
							mui.alert('切换打印机', '切换打印机', '确定', function(e) {
								if(e.index == 0) {
									window.location.reload(true);
								}
							})
						} else {
							windowsPrinterScreening(data, function() {
								mAjax(urlxds + "updateFsHoldStation", {
									txm: data.txm
								}, function(outdata) {
									var _data = outdata.success;
									if(outdata.success == 1) {
										mui.toast("打印成功！");
										window.location.reload(true);
									}
								})
							})
						}
					},
					//打印成功再次打条码
					outPrintAgain: function(data) {
						if(getLsItem("printIp") != '192.168.3.151') {
							//mui.toast()
							setLsItem("printIp", '192.168.3.151');
							mui.alert('切换打印机', '切换打印机', '确定', function(e) {
								if(e.index == 0) {
									window.location.reload(true);
								}
							})
						} else {
							windowsPrinterScreening(data, function() {
								mui.toast("打印成功！")
							})
						}
					},
					//补打条码
					outPrintLatePlay: function(data) {
						if(getLsItem("printIp") != '192.168.3.151') {
							//mui.toast()
							setLsItem("printIp", '192.168.3.151');
							mui.alert('切换打印机', '切换打印机', '确定', function(e) {
								if(e.index == 0) {
									window.location.reload(true);
								}
							})
						} else {
							windowsPrinterScreening(data, function() {
								mAjax(urlxds + "updateFsHoldStation", {
									txm: data.txm
								}, function(outdata) {
									var _data = outdata.success;
									if(outdata.success == 1) {
										mui.toast("打印成功！");
										window.location.reload(true);
									}
								})
							})
						}
					}
				}
			})
		</script>

	</body>

</html>